/Binaries/iOS/NativeDialogs.build/

/Binaries/iOS/TSAlertViewBackground.png
/Binaries/iOS/TSAlertViewBackground2.png
/Binaries/iOS/TSAlertViewButtonBackground.png
/Binaries/iOS/TSAlertViewButtonBackground_Highlighted.png
/Binaries/iOS/TSAlertViewCancelButtonBackground.png
/Binaries/iOS/TSAlertViewMessageListViewShadow.png
/IOS/NativeDialogs/build/